<br>
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="jumbotron text-center">
			<h1>Blocitoff</h1>
			<p>_______________________</p>
			<p>A self-destructing to-do list</br>
				to keep you focused on the</br>
				things that really matter.</p>
			<p>
				<%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-lg' %> &nbsp;&nbsp;|&nbsp;&nbsp;
				<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
			</p>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
