<%= content_tag :div, class: "media #{time_left_class(item)}", id: "item-#{item.id}" do %>
	<div class='media-body'>
		<div class='row'>
			<div class='col-md-7'>
				<%= item.name %>
			</div>
			<div class='col-md-3'>
				<% if item.days_left <= 0 %>
					Created today
				<% elsif item.days_left == 1 %>
					Created 1 day ago
				<% else %>
					Created <%= item.days_left %> days ago
				<% end %>
			</div>
			<div class='col-md-2'>
				<%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
			</div>
		</div>
	</div>
<% end %>
